.status-bar {
  display: flex;
  margin-top: 3px;
  justify-content: space-between;
}

.status-bar__column:first-child span,
.status-bar__column:last-child i {
  font-size: 14px;
  font-weight: bold;
}
