.friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin-top: 85px;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 500;
}

.friends-display-link i:first-child {
  color: rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}

.friends-display-link i:last-child {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 8px;
}

.friends-screen__channel,
.friends-screen__friends {
  border-top: var(--main-border);
  padding-top: 7px;
  margin: 5px 0px;
}

.friends-screen__channel-header,
.friends-screen__friends-header {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
