.more__icon-row {
  padding: 0px 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.first__more__icon-row {
  margin-bottom: 40px;
}

.more__icon-row__icon {
  width: 50px;
  height: 50px;
}

.more-suggestions {
  margin-top: 10px;
  padding-top: 20px;
  border-top: var(--main-border);
}

.last__more-suggestions__icons {
  margin-top: 25px;
  margin-bottom: 90px;
}

.more-suggestions__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 80px;
}

.more-suggestions__icon-image img {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  padding: 5px 10px;
}

.more-suggestions__icon-text {
  font-size: 15px;
  opacity: 0.7;
}

.emoticons-dot {
  bottom: 25px;
  left: 30px;
}

.fa-smile-wink {
  position: relative;
}

.fa-user-circle {
  position: relative;
}
