.alt-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.1);
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}

.alt-header__title {
  font-size: 18px;
  font-weight: 500;
}
